.header{
	background-color: lightblue;
	background-size: cover;
    min-height: 100vh;
    width: 100%;
}
*{
	margin:0;
	padding: 0;
}
#navlist {
        width: 100%;
    }
    #navlist a {
        float:left;
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 10px;
    }
    .navlist-right{
        float:right;
        font-size: 25px;
        margin-right:25px;
    }
    .name{
    	padding: 10px;
    	font-family: 'Roboto Condensed', sans-serif;
    	font-size: 50px;
    	font-weight: bold;
    }
    .navlist-right a:hover{
	    color: white;
	    border-radius: 25px;
	    border: 3px solid white;
	    text-align: center;
	    background-color: #0066CC;
    }
    #navlist a:hover{
    	color: white;
    }
img{
	padding-top: 80px;
	margin: 30px;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.container{
	position: relative;
	display: flex;
	justify-content: center;
}
.te{
	padding-top: 150px;
	margin-left: 20px;
	font-size: 32px;
}
.quo{
	text-align: center;
	font-size: 20px;
	padding:40px;
	font-color:white;
	background-color: #0066CC;
	font-family: 'Comforter', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
.te a:hover{
	color: white;
	    border-radius: 25px;
	    border: 3px solid white;
	    text-align: center;
	    background-color: #0066CC;
	    padding: 10px;
}
.te p{
	margin-top: 20px;
	text-align: center;
}
.te p{
	padding: 20px;
}

